{% extends 'base.html.twig' %}

{% block title %}Travel.com{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
    <body>
    <section class="titles">
        <h1>Travel.com</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores
            consectetur, laboriosam rerum obcaecati.
        </p>
    </section>
    </body>





{% endblock %}