* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color:#7d55c7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
